/* portlet decoration */
.aui {
	.portlet {
		border-color: #cfdbe2;
	}
	.portlet-topper {
	background-color: #23b7e5;
	color:#ffffff;
	position:relative;
	}
	.portlet-topper .portlet-title {
	font-size:18px;
	}
	.portlet-topper {
    color: #fff;
	}
	.portlet-topper .portlet-topper-toolbar {
	    font-size: 0.8em;
	    margin: -10px 0 0;
	    padding: 0;
	    right: 10px;
	    top: 50%;
	    position: absolute;
	    
	}
	
	
	
	
	
}