<div class="nav-collapse collapse">
#if (!$page_group.isUser())
	<ul class="nav navbar-nav">
		#foreach ($nav_item in $nav_items)
			#if($nav_item.getLayout().getExpandoBridge().getAttribute($sideNavigation) == false && ($nav_item.getLayout().getExpandoBridge().getAttribute($footerNav) == false))
				#if ($is_signed_in || ($nav_item.getLayout().getExpandoBridge().getAttribute($hideGuest) == false))
					#if ($nav_item.isSelected())
						#set( $selected = "current active " )
					#else
						#set( $selected = "" )
					#end
					#if ($nav_item.hasChildren())
						#set($child = "dropdown")
						#set($childClass="dropdown-toggle")
					#else
						#set($child = "")
						#set($childClass="")
					#end
					<li class="$selected$child">
					
						#if ($nav_item.hasChildren())
							<a class="$childClass" data-toggle="$child" href="#" $nav_item.getTarget()><span class="nav-item-label"> $nav_item.getName() </span><i class="icon-caret-down"></i></a>
						#else
							<a class="$childClass" data-toggle="$child" href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>
						
						#end
						#if ($nav_item.hasChildren())
							<ul class="dropdown-menu" role="menu">
								#foreach ($nav_child in $nav_item.getChildren())
									#if ($nav_child.isSelected())
										<li aria-selected="true" class="selected">
									#else
										<li>
									#end
										<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
									</li>
								#end
							</ul>
						#end
					</li>
				#end
			#end
		#end
	</ul>
#end
<ul class="nav navbar-nav navbar-right"> 
	##our search portlet
	#if ($is_signed_in)
		
		
 		$request.setAttribute("RENDER_PORTLET_BOUNDARY", false)
		#set ($VOID = $velocityPortletPreferences.setValue('portlet-setup-show-borders', 'false'))
		#set ($VOID = $velocityPortletPreferences.setValue('display-style', '1'))
		#set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))

		$velocityPortletPreferences.setValue("header-type", "none")
		#set ($myPortletId = "2_WAR_notificationsportlet")
		#if (!$permissionChecker.isCompanyAdmin($company_id))
			$theme.runtime($myPortletId, '', $velocityPortletPreferences.toString())
		#end
		
	
    	#parse ("$full_templates_path/user_menu.vm")
    #end

	<div id="portal-search" class="pull-right input-append">
		$theme.search()
	</div> 
			
   
 </ul>
			
</div>			