.custom-logo{display:block;}

.navbar-xs
{
	height:22px;
	background-color:#151724;
	background-image:none;
}
.navbar-xs a
{
	color:#FEFEFE !important;
}
.navbar-xs ul
{margin: 0px 10px 0px 0px !important;
list-style: none outside none;}

#portal-search
{margin-bottom:0px !important;}
#portal-search select
{display:none;}
#portal-search input[type="text"]
{
	border-radius:13px;
	/*
	background: linear-gradient(to bottom, #443266 0px, #732c3b 24px, #e1e1e1 100px, #eeeeee 124px) no-repeat;
	
	box-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def; */
}
#portal-search input[type="image"]
{
	padding:8px 20px;
	position:absolute;
	right:0px;
	
}
#portal-search input:focus
{
	z-index:auto !important;
	-webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color:transparent !important;
}

.aui .portlet-body
{background-color:#fff;}

.aui .navbar .nav > .active > a, .aui .navbar .nav > .active > a:hover, .aui .navbar .nav > .active > a:focus
{}
footer a {
	color:#fff;
	
}
footer.ftr-sect {
    margin: 0 auto;
    text-align: center;
}

.ftr-sect
{
	padding: 20px 15px;
	background:#222;
}

.footer-nav {
    margin: 0 auto;
    text-align: center;
}
.footer-nav  ul  li{
    display: inline-block;
    padding-left:10px;
}
#sub-footer{
	color:#FFF;
	
}
#sub-footer ul.social-network {
    float: right;
}
ul.social-network {
	font-size:120%;
    list-style: none outside none;
    margin: 0;
}