/* ---------- Base styles ---------- */
.aui {
  /* ---------- Dockbar ---------- */
  /* ---------- Main navigation ---------- */
  /* ---------- Breadcrumbs ---------- */
  /* ---------- Portlet wrapper and icons ---------- */
  /* ---------- Set password reminder portlet ---------- */
  /* ---------- Staging bar ---------- */
  /* ---------- Footer ---------- */
  /* ---------- Hudcrumbs ---------- */
  /* ---------- Miscellaneous ---------- */
  /* ---------- Extras ---------- */
  /* ---------- IE8 ---------- */ }
  .aui .separator {
    border-color: #BFBFBF transparent #FFF;
    border-style: solid;
    border-width: 1px 0; }
  .aui #wrapper {
    position: relative; }
  .aui .site-title a:hover {
    text-decoration: none; }
  .aui .site-title .site-name {
    display: inline-block; }
  .aui #skip-to-content:focus {
    clip: rect(auto auto auto auto);
    margin-top: 35px;
    right: 5px;
    z-index: 200; }
  .aui #sign-in {
    background: url(/welcome-theme/images/common/key.png) no-repeat 3px 50%;
    font-weight: bold;
    padding: 5px 5px 5px 25px;
    position: absolute;
    right: 0;
    top: -1.2em; }
  .aui .redirected-to-message {
    margin-right: 10px; }
    .aui .redirected-to-message a {
      background: #ECFBFF;
      border: 1px solid #ADE5FA;
      color: #8D8D8D;
      padding: 5px; }
  .aui .site-navigation {
    margin-bottom: 6px; }
  .aui .taglib-portal-message {
    margin-bottom: 0; }
  .aui .dockbar.navbar .nav li.dropdown.active .dropdown-toggle {
    background-color: transparent; }
    .aui .dockbar.navbar .nav li.dropdown.active .dropdown-toggle:hover {
      color: #FFF; }
  .aui .dockbar.navbar .nav li.dropdown.staging-toggle .dropdown-menu {
    background-color: #55B8EC; }
  .aui .dockbar.navbar .nav > li > a {
    margin: 0 5px 0 0;
    padding: 6px 10px; }
    .aui .dockbar.navbar .nav > li > a:hover {
      background-color: #2FA4F5; }
  .aui .dockbar .info-button {
    top: 9px; }
    .aui .dockbar .info-button a {
      margin-top: -4px; }
      .aui .dockbar .info-button a:hover {
        color: #FFF; }
  .aui .dockbar .staging-bar .staging-toggle {
    color: #FFF; }
    .aui .dockbar .staging-bar .staging-toggle li a {
      color: #FFF;
      font-weight: 300;
      text-decoration: none; }
    .aui .dockbar .staging-bar .staging-toggle .btn-link {
      color: #FFF;
      font-size: 12px; }
  .aui .dockbar .page-customization-bar .btn {
    border-color: transparent; }
    .aui .dockbar .page-customization-bar .btn:hover, .aui .dockbar .page-customization-bar .btn:focus {
      background: transparent;
      text-decoration: underline; }
  .aui .dockbar .navbar-inner, .aui .dockbar-split .dockbar .navbar-inner {
    background-color: #118ade;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #118ade), color-stop(47%, #118ade), color-stop(100%, #1273c7));
    background-image: -webkit-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
    background-image: -moz-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
    background-image: -o-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
    background-image: linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%); }
    .aui .dockbar .navbar-inner .nav > li, .aui .dockbar-split .dockbar .navbar-inner .nav > li {
      background-color: #118ade;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #118ade), color-stop(47%, #118ade), color-stop(100%, #1273c7));
      background-image: -webkit-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
      background-image: -moz-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
      background-image: -o-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
      background-image: linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%); }
  .aui .dockbar-split .dockbar .info-button {
    top: 9px; }
  .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls {
    border-top: 1px solid #00AEFF; }
    .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls.nav-account-controls-notice {
      margin-top: 10px;
      top: 50px; }
  .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls {
    background: transparent;
    border-top-width: 0; }
    .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls.nav-add-controls-notice {
      top: 70px; }
    .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li {
      background-color: transparent;
      background-image: none; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
        background: #45CBF5;
        line-height: inherit;
        padding: 6px 8px; }
        @media (max-width: 979px) {
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
            background: transparent; } }
        .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover {
          background: #5BBAE8; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
          background: #92F545; }
          @media (max-width: 979px) {
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
              background: transparent; } }
  .aui .dockbar-split .dockbar .navbar-inner .page-customization-bar {
    background-color: #6DA4E4;
    background-color: rgba(109, 168, 228, 0.9);
    line-height: 20px; }
  .aui .dockbar-split .dockbar .navbar-inner .page-customization-bar-text {
    height: 43px; }
  .aui .dockbar-split .dockbar .navbar-inner .staging-bar {
    margin: 6px 0; }
    .aui .dockbar-split .dockbar .navbar-inner .staging-bar > li {
      background: transparent; }
  .aui #navigation .add-page-editor input {
    margin-top: 0; }
  .aui #navigation .brand {
    padding: 0;
    padding-right: 20px;
    margin-left: 0; }
    .aui #navigation .brand img {
      height: 40px;
      width: auto; }
  .aui #navigation .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFF;
    border-top-color: #FFF; }
  .aui #navigation .nav li.open > a {
    background-color: #A3A3A3;
    color: #FFF; }
  .aui #navigation .nav li.active > a {
    background-color: #118ade; }
  .aui #navigation .nav > li > a {
    padding: 4px 15px 5px; }
  .aui #navigation .nav .dropdown-menu {
    background: #00ACFF;
    border-width: 0;
    margin: 0; }
    .aui #navigation .nav .dropdown-menu:after, .aui #navigation .nav .dropdown-menu:before {
      border-width: 0; }
    .aui #navigation .nav .dropdown-menu a {
      color: #FFF; }
      .aui #navigation .nav .dropdown-menu a:hover {
        background: none;
        text-decoration: underline; }
  .aui #navigation .navbar-inner {
    background: #555;
    border-width: 0;
    min-height: 36px; }
    .aui #navigation .navbar-inner li a {
      color: #FFF; }
  .aui .modify-pages .delete-tab {
    background: #555;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 16px;
    padding: 4px;
    right: -10px;
    top: 0;
    z-index: 300; }
  .aui .breadcrumb {
    background-color: #FAFAFA; }
  .aui #breadcrumbs {
    margin-bottom: 45px; }
    .aui #breadcrumbs .breadcrumb {
      margin-bottom: 0; }
  .aui .portlet-content, .aui .portlet-minimized .portlet-content-container {
    border: 1px solid #EAEAEA;
    border-top-width: 0;
    padding: 12px 10px 10px; }
  .aui .portlet-topper {
    background: #D3D3D3;
    color: #FFF;
    padding: 0; }
    .aui .portlet-topper .portlet-title {
      font-size: 1em;
      font-weight: normal;
      line-height: 2.2;
      margin: 0; }
      .aui .portlet-topper .portlet-title i, .aui .portlet-topper .portlet-title span img {
        display: none; }
    .aui .portlet-topper .portlet-topper-toolbar {
      font-size: 0.8em;
      margin: -10px 0 0;
      padding: 0;
      right: 10px;
      top: 50%; }
  .aui .lfr-configurator-visibility .portlet-topper {
    background-color: #A9A9A9; }
  .aui .portlet-borderless-bar .portlet-options .dropdown-toggle {
    background-image: url(../images/portlet/options_borderless.png); }
  .aui .signed-in.controls-visible .portlet-title {
    padding-right: 80px; }
  .aui .portlet-asset-publisher .asset-content, .aui .portlet-asset-publisher .asset-summary, .aui .portlet-asset-publisher .asset-title, .aui .portlet-asset-publisher .header-title, .aui .portlet-asset-publisher li.title-list, .aui .portlet-blogs .entry-body, .aui .portlet-blogs .entry-title, .aui .portlet-blogs .header-title, .aui .portlet-journal-content .journal-content-article, .aui .portlet-message-boards .header-title, .aui .portlet-message-boards .thread-body {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
  .aui .portlet-icons {
    float: none; }
  .aui .page-maximized .portlet-icons {
    font-size: 11px; }
  .aui .dropdown-menu > li.portlet-close > a {
    color: #C00;
    font-weight: bold; }
    .aui .dropdown-menu > li.portlet-close > a:focus, .aui .dropdown-menu > li.portlet-close > a:hover {
      background-color: #C00;
      background-image: none;
      color: #FFF; }
  .aui .update-reminder-query .control-group {
    max-width: 350px; }
  .aui .update-reminder-query .reminder-query-answer {
    height: 30px;
    width: 100%; }
  .aui .update-reminder-query .reminder-query-question {
    width: 100%; }
  .aui .navbar-inner .nav.staging-bar {
    border-top-width: 0;
    position: static; }
    .aui .navbar-inner .nav.staging-bar li .page-variations {
      display: inline-block;
      margin-left: 8px; }
      .aui .navbar-inner .nav.staging-bar li .page-variations a {
        text-decoration: none; }
    .aui .navbar-inner .nav.staging-bar li.dropdown {
      position: static; }
  .aui .portlet-staging-bar .row-fluid .layout-revision-info .layout-revision-version label {
    color: #B6DDF5; }
  .aui .portlet-staging-bar .label-submit {
    background-color: #469DE3; }
  .aui .portlet-staging-bar .layout-branch-selector .icon-caret-down, .aui .portlet-staging-bar .layout-set-branch-selector .icon-caret-down {
    background-color: #469DE3; }
  .aui .portlet-staging-bar .page-variations-options .lfr-icon-menu, .aui .portlet-staging-bar .site-pages-variation-options .lfr-icon-menu {
    background-color: #50AFE9; }
    .aui .portlet-staging-bar .page-variations-options .lfr-icon-menu .icon-globe, .aui .portlet-staging-bar .page-variations-options .lfr-icon-menu .icon-file, .aui .portlet-staging-bar .site-pages-variation-options .lfr-icon-menu .icon-globe, .aui .portlet-staging-bar .site-pages-variation-options .lfr-icon-menu .icon-file {
      background-color: #469DE3; }
  .aui #footer {
    text-align: right; }
  .aui .lfr-hudcrumbs {
    position: fixed;
    top: 0;
    z-index: 300; }
    .aui .lfr-hudcrumbs .breadcrumb {
      background: #414445;
      background: rgba(0, 0, 0, 0.8); }
      .aui .lfr-hudcrumbs .breadcrumb li a, .aui .lfr-hudcrumbs .breadcrumb li span {
        color: #FFF; }
  .aui .lfr-panel-container {
    background-color: transparent; }
  .aui .lfr-portlet-title-editable-content .field {
    display: inline;
    float: none; }
  .aui .portlet-journal-content .lfr-icon-actions {
    margin-bottom: 3px; }
  .aui #navigation .nav li.open > a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .aui #navigation .nav .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  .aui #navigation .nav > .active > a {
    background-color: #118ade;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #118ade), color-stop(47%, #118ade), color-stop(100%, #1273c7));
    background-image: -webkit-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
    background-image: -moz-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
    background-image: -o-linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
    background-image: linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF118ADE', endColorstr='#FF1273C7'); }
  .aui #navigation .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .aui #navigation .navbar-inner li a {
      text-shadow: none; }
  .aui .update-reminder-query .reminder-query-answer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .aui .modify-pages .delete-tab {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-shadow: none;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    .aui .modify-pages .delete-tab:hover {
      -webkit-box-shadow: 0 1px 1px -1px black;
      -moz-box-shadow: 0 1px 1px -1px black;
      box-shadow: 0 1px 1px -1px black; }
  .aui .portlet-borderless-bar, .aui .portlet-content .lfr-icon-actions {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 3px black;
    -moz-box-shadow: inset 0 1px 3px black;
    box-shadow: inset 0 1px 3px black; }
  .aui .portlet-content, .aui .portlet-minimized .portlet-content-container {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px; }
  .aui .portlet-minimized .portlet-content {
    border-width: 0; }
  .aui .portlet-minimized .portlet-topper {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .aui .portlet-nested-portlets .portlet-body .portlet, .aui .portlet-nested-portlets .portlet-body .portlet-borderless-container {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .aui .portlet-topper {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0; }
  .aui .dockbar .staging-bar .staging-toggle > a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .aui .dockbar-split .dockbar .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none; }
    @media (max-width: 979px) {
      .aui .dockbar-split .dockbar .navbar-inner {
        background-color: #118ade;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #118ade), color-stop(100%, #1273c7));
        background-image: -webkit-linear-gradient(#118ade, #1273c7);
        background-image: -moz-linear-gradient(#118ade, #1273c7);
        background-image: -o-linear-gradient(#118ade, #1273c7);
        background-image: linear-gradient(#118ade, #1273c7); } }
    .aui .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle {
      background-color: #0ea6f9;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0ea6f9), color-stop(100%, #0993dd));
      background-image: -webkit-linear-gradient(#0ea6f9, #0993dd);
      background-image: -moz-linear-gradient(#0ea6f9, #0993dd);
      background-image: -o-linear-gradient(#0ea6f9, #0993dd);
      background-image: linear-gradient(#0ea6f9, #0993dd);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    .aui .dockbar-split .dockbar .navbar-inner .nav li.dropdown.active > .staging-link.dropdown-toggle {
      background-color: #55B8EC;
      background-image: none; }
  .aui .lfr-hudcrumbs ul {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0; }
  .aui .lfr-hudcrumbs .breadcrumb li a, .aui .lfr-hudcrumbs .breadcrumb li span {
    text-shadow: -1px -1px black; }
  .aui.ie8 .dockbar-split .dockbar .navbar-inner .info-button a {
    margin-top: -2px; }