
	#foreach ($nav_item in $nav_items)

		#if($nav_item.getLayout().getExpandoBridge().getAttribute($footerNav))
			
				## we are only interested in second level menu
				#if ($nav_item.hasChildren())
					<ul class="nav">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a class="ftr-link" href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
			
			
		#end
	#end ##foreach
	<div id="sub-footer">
		<div class="row">
			
				<div class="copyright">
					<p>
						<span>Copyright© PTAR 2013-2014 All right reserved. </span>
						<span>Faculty of Elecrical Engineering</span>
						
						
					</p>
				</div>
			
			
		</div>
	
	</div>

