<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    	
    	<img src="$current_user_profile_portrait_url"  class="nav-user-avatar"/>
        <i class="glyphicon glyphicon-user"></i>
        <span class="nav-item-label">$user_name <i class="icon-caret-down"></i></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li>
        	<a href="$themeDisplay.getURLMyAccount()">My Account
        		<i class="fa fa-user"></i>
        	</a>
        </li>
        
        <li>
        	<a href="$sign_out_url">Sign out
        	<i class="fa fa-power-off"></i>
        	</a>
        </li>
       <li class="divider"></li>
       #parse ("$full_templates_path/user_extra_nav.vm")
       
    </ul>
</li>

		
	
	
		
				
		
	
	


