#cl-event-tabContent
{padding:20px;}
.cl-event-item
{font-family: Arial,Helvetica,Verdana,Sans-serif;
    padding-bottom: 15px;}
.cl-event-date{
	 background: url("../images/eventdatebg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	 color: #000000;
    display: table-cell;
    height: 80px;
    width: 80px;
}    
.cl-event-month
{
	   font-size: 13px;
	   font-weight:bold;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color:#FFF;
}
.cl-event-day
{
	font-size:30px;
	text-align:center;
	color:#000;
	font-weight:bold;
	padding-top:5px;
}
.cl-event-info{
	display: table-cell;
    padding-left: 10px;
    vertical-align: top;
}    
.cl-entry-expander
{cursor:pointer;}

#dateSliderWrapper {padding-bottom:30px;}
